:host {
    display: block;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
  
  ul {
    margin: 0 0 64px 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
    li {
      background: #efefef;
      border-radius: 8px;
      padding: 6px 12px;
      font-size: 14px;
    }
  }
  
  .title {
    margin: 0 0 6px 0;
    padding: 6px 20px;
    font-weight: 700;
  
    &.generated {
      background-image: linear-gradient(95.85deg, #b539c8 0%, #7155fa 66%, #3b63fb 100%);
      color: transparent;
      background-clip: text;
      color: transparent;
    }
  }
  
  .action-area {
    display: flex;
    justify-content: end;
    padding: 12px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255 255 255 / 60%);
    border-top: 1px solid rgb(222 222 222);
  
    .btn-gradient {
      display: flex;
      justify-content: center;
      min-width: 34px;
      gap: 6px;
      padding: 5px 16px 5px 14px;
      line-height: 18px;
      font-size: 14px;
      color: #fff;
      background-image: linear-gradient(95.85deg, #b539c8 0%, #7155fa 66%, #3b63fb 100%);
      border: 2px solid transparent;
      font-family: var(--font-family);
      border-radius: 18px;
      outline-color: var(--s2-blue-900);
      outline-offset: 0;
      transition: outline-offset 0.2s;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      background-origin: border-box;
  
      &:focus-visible {
        outline-offset: 4px;
      }
    }
  }
  
  .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
    flex-wrap: wrap;
    padding: 6px 20px;
    height: 90%;
    animation: fadeInOut 2s ease-in-out infinite;
  
    svg {
      width: 40px;
      height: 40px;
      display: block;
  
      use {
        transform: scale(2);
      }
    }
  
    .status {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  